<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourcegroups/jehollan-ignitekeynote/providers/Microsoft.Web/sites/InventoryManager20180917081002</ResourceId>
    <ResourceGroup>jehollan-ignitekeynote</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://inventorymanager20180917081002.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/jehollan-acr/providers/Microsoft.ContainerRegistry/registries/jehollanacr</ContainerResourceId>
    <ContainerResourceName>jehollanacr</ContainerResourceName>
    <Subscription>Antares-Demo</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://jehollanacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0d038eb1-4eab-41a7-9c2e-04f0c0b1c5c8</ProjectGuid>
  </PropertyGroup>
</Project>